<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link href="assets/semantic/semantic.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="assets/css/mystyle.css" media="screen" rel="stylesheet" type="text/css">
  <script src="assets/js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
  <script src="assets/js/filter.min.js" type="text/javascript"></script>
  <script src="assets/js/mustache.min.js" type="text/javascript"></script>
  <script src="assets/semantic/semantic.min.js" type="text/javascript"></script>
  <script src="data/data.js" type="text/javascript"></script>
  <script src="auto.js" type="text/javascript"></script>
  <title>#HackUrba | inventaire des données</title>
</head>
<body>
  <div class="ui hidden divider"></div>
  <div class="ui container grid">
    <div class="row ui conteneurblue">
      <div class="two wide column"><img class="ui image" src="assets/img/logo_ministere.png" alt="Logo Ministère"></div>
      <div class="two wide column"><img class="ui image" src="assets/img/logo_gtv.png" alt="Logo GreenTech verte" height="75" width="75"></div>
      <div class="eleven wide column titre centered">#HackUrba : Comment et où construire durablement ? <br /> Un événement #GreenTechverte</div>
    </div>
    <div class="row container">
      <div class="four wide column center aligned">
        <div class="ui container">
          <div class="ui container statistic">
            <div class="value">
              <span id="mydata_count">0</span>
            </div>
            <div class="label">jeux de données</div>
          </div>
          <div class="ui container">+ d'infos sur : <a href="http://www.developpement-durable.gouv.fr/hackurba-comment-et-ou-construire-durablement">#HackUrba</a> | <a href="http://www.developpement-durable.gouv.fr/">MEEM</a> | <a href="http://logement.gouv.fr">MLHD</a></div>
          <div class="ui container icon input">
            <i class="search icon"></i>
            <input type="text" id="searchbox" placeholder="Chercher&hellip;" fjs-search>
          </div>
          <div class="ui container">
            <div class="ui container"><a href="javascript:window.location.reload()">(supprimer les filtres)</a></div>
          </div>
          <div class="ui container left aligned" id="target">Chargement...</div>
        </div>
      </div>
      <div class="one wide column"></div>
      <div class="eleven wide column ui container">
        <div class="movies content row" id="movies" fjs-items="template=#data-template"></div>
      </div>
    </div>
    <div class="row center aligned container">
      <div class="sixteen wide column">
        <span class="text-muted small">© 2017 - Ministère de l'Environnement, de l'Energie et de la Mer - Ministère du Logement et de l'Habitat Durable</span>
      </div>
    </div>
  </body>
  </html>

  <script id="data-template" type="text/html">
    <div class="ui raised segment">
      <p class="ui blue ribbon label"><%= Acronyme %></p><%= Intitulé %>
      <p></p>
      <div class="ui two column grid">
        <div class="column"> 
          <div class="ui segments">
            <div class="ui segment">
              <p>Proposé par : <%= Opérateur %></p>
              <p>Périmètre : <%= Perimetre %></p>
              <p><div class="ui horizontal labels"> Thèmes :
                <% var mywords=Theme.split(';') ; for (index=0;index<mywords.length;++index) { %>
                <a class="ui label" href="javascript:document.getElementById('searchbox').focus();searchbox.value='<%= mywords[index] %>';FJS.filter();"><%= mywords[index] %></a>
                <% } %>
              </div></p>
              <p><div class="ui horizontal labels">Mots-clefs : 
                  <% var mywords=MotsClefs.split(';') ; for (index=0;index<mywords.length;++index) { %>
                  <a class="ui label" href="javascript:document.getElementById('searchbox').focus();searchbox.value='<%= mywords[index] %>';FJS.filter();"><%= mywords[index] %></a>
                  <% } %>
                </div></p>
              <% if(ExempleRéutilisation) { %><p>Exemple d'utilisation des données : <a href="<%= ExempleRéutilisation %>"><i class="external icon"></i></a></p><% } %>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui segments">
            <div class="ui segment">
                <p>Disponibilité des données : <%= DisponibilitéDonnées %>
                <% if (DisponibilitéDonnées=='oui' && Lien.length > 0) { %>
                <a target="_blank" class="label label-success" href="<%= Lien %>"><i class="download orange icon"></i>Télécharger</a>
                <% } %></p>
                <% if(NombreJeuxDonnées) { %><p>Nb de jeux : <%= NombreJeuxDonnées %></p><% } %>
                <% if(Millésimes) { %><p>Années : <%= Millésimes %></p><% } %>
                <p>Conditions d'usage : <%= CGU %></p>
                <% if(DocumentationMéthodologique) { %><p>Doc. méthodologique : <%= linkify(DocumentationMéthodologique) %></p><% } %>
                <% if(DocumentationTechnique) { %><p>Doc. technique : <%= linkify(DocumentationTechnique) %></p><% } %>
                <p><div class="ui labels">
                  <% var mywords=Format.split(';') ; if (mywords.length > 1) { %>
                  Formats : <% for (index=0;index<mywords.length;++index) { %>
                  <a class="ui label" href="javascript:document.getElementById('searchbox').focus();searchbox.value='<%= mywords[index] %>';FJS.filter();"><%= mywords[index] %></a>
                  <% }} else { %>
                  Format non précisé
                  <% } %></div></p>
                <p>Couverture géo : <%= ChampGéographique %></p>
            </div>
          </div>
        </div>
        <div class="ui container">
          <p><%= linkify(Commentaire)   %></p><br />
        </div>
      </div>
    </script>

<!-- <script id="genre_template" type="text/html">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="<%= genre %>"> <%= genre %>
    </label>
  </div>
</script> -->

<script id="template" type="x-tmpl-mustache">

  <div class="well">
    <fieldset id="groupe_criteria">
      <legend>Périmètre</legend>
      {{#Perimetre}}
      <div id="perimetre">
        <div class="radio" fjs-criteria="field=Perimetre,ele=#groupes input:radio">
          <label>
            <input type="radio" name="perimetre" value="{{.}}">
            <span>{{.}}</span>
          </label>
        </div>
      </div>
      {{/Perimetre}}
    </fieldset>
  </div>

  <div class="well">
    <fieldset id="cgu_criteria">
      <legend>CGU</legend>
      {{#CGU}}{{#.}}
      <div id="cgu">
        <div class="radio" fjs-criteria="field=CGU,ele=#cgus input:radio">
          <label>
            <input type="radio" name="cgu" value="{{.}}">
            <span>{{.}}</span>
          </label>
        </div>
      </div>
      {{/.}}{{/CGU}}
    </fieldset>
  </div>

  <div class="well">
    <fieldset id="champGéographique_criteria">
      <legend>     géographique</legend>
      {{#ChampGéographique}}{{#.}}
      <div id="champGéographique">
        <div class="radio" fjs-criteria="field=ChampGéographique,ele=#champGéographiques input:radio">
          <label>
            <input type="radio" name="geo" value="{{.}}">
            <span>{{.}}</span>
          </label>
        </div>
      </div>
      {{/.}}{{/ChampGéographique}}
    </fieldset>
  </div>

</script>